// Blockquotes callouts

blockquote {
  margin: 0 0 20px 0;
  padding: 0.5rem 1rem;
}

blockquote .callout-title em {
  font-style: normal;
  font-weight: 950;
  font-size: 16px;
}

blockquote p {
  font-style: normal;
  margin: 0.5em 0;
}

.callout {
  overflow: hidden;
  border-style: solid;
  border-width: 0;
  border-radius: 0.25em;
  margin: 1em 0;
  padding: 0.5em 1em;
}

.callout.abstract, .callout.summary, .callout.tldr, .callout.tip{
  background-color: #00FFFF30;
  .callout-title {
    color: #00FFFF;
  }
}

.callout.bug, .callout.danger {
  background-color: #f0213c30;
  .callout-title {
    color: #f0213c;
  }
}

.callout.info, .callout.note, .callout.todo {
  background-color: #384bf830;
  .callout-title {
    color: #384bf8;
  }
}

.callout.warning, .callout.caution, .callout.question {
  background-color: #ec750030;
  .callout-title {
    color: #ec7500;
  }
}

.callout.success, .callout.done {
  background-color: #08b94e30;
  .callout-title {
    color: #08b94e;
  }
}

.callout.example {
  background-color: #7852ee30;
  .callout-title {
    color: #7852ee;
  }
}

.callout.quote {
  background-color: #9e9e9e30;
  .callout-title {
    color: #9e9e9e;
  }
}
