---
layout: default
---

{% assign title = page.title %}
{% assign collection = site[page.collection]%}

<h1>{{ title }} <a href="/{{ title | downcase}}/feed.xml"><i class="fa-solid fa-rss"></i></a></h1>
<section>
{% if collection.size <= 1%}
<span>No item yet...</span>
<p>Be patient!</p>
{% else %}
  {% assign sorted_collection = collection | sort: "publishedOn" | reverse %}
  {% for item in sorted_collection %}
    {% if item.title != title %}
        {% if item.tags.size > 0 %}
        <small class="date">{{ item.publishedOn | date: "%-d %B %Y" }}</small>
        <small>| {{ item.readingTime }} min read </small>
        <small> 
        | tags:
        {% for tag in item.tags %}
          <em><a href="/tags/{{ tag | downcase }}" class="tag"> {{ tag }} <i class="fa-solid fa-tag"></i></a></em> 
        {% endfor %}
        </small>
        {% else %}
        <small>{{ item.publishedOn | date: "%-d %B %Y" }}</small>
        {% endif %}
        <h3><a href="{{ item.url }}">{{ item.title }}</a></h3>
        <div class="thumbnail">
          {% if item.image %}
            <a href="{{ item.url }}"><img src="/assets/images/{{ item.image }}" alt="{{ item.title }}" class="thumbnail" /></a>
          {% endif %}
          {% if item.tldr %}
            <p class="tldr">
              <small>{{ item.tldr}}</small>
            </p>
          {% endif %}
        </div>
    {% endif %}
  {% endfor %}
{% endif %}
</section>