<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  
  {% seo %}

  <link rel="icon" type="image/x-icon" href="/assets/images/logo.png">
  <link href="https://fonts.googleapis.com/css?family=Google+Sans|Noto+Sans|Castoro"
  rel="stylesheet">

  <link rel="stylesheet" href="/assets/publications/css/bulma.min.css">
  <link rel="stylesheet" href="/assets/publications/css/bulma-carousel.min.css">
  <link rel="stylesheet" href="/assets/publications/css/bulma-slider.min.css">
  <link rel="stylesheet" href="/assets/publications/css/fontawesome.all.min.css">
  <link rel="stylesheet"
  href="https://cdn.jsdelivr.net/gh/jpswalsh/academicons@1/css/academicons.min.css">
  <link rel="stylesheet" href="/assets/publications/css/index.css">

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://documentcloud.adobe.com/view-sdk/main.js"></script>
  <script defer src="/assets/publications/js/fontawesome.all.min.js"></script>
  <script src="/assets/publications/js/bulma-carousel.min.js"></script>
  <script src="/assets/publications/js/bulma-slider.min.js"></script>
  <script src="/assets/publications/js/index.js"></script>
</head>
<body>

{{ content }}

<footer class="footer">
  <div class="container">
    <div class="columns is-centered">
      <div class="column is-8">
        <div class="content">

          <p>
            This page was built using the <a href="https://github.com/eliahuhorwitz/Academic-project-page-template" target="_blank">Academic Project Page Template</a> which was adopted from the <a href="https://nerfies.github.io" target="_blank">Nerfies</a> project page.
            You are free to borrow the of this website, we just ask that you link back to this page in the footer. <br> This website is licensed under a <a rel="license"  href="http://creativecommons.org/licenses/by-sa/4.0/" target="_blank">Creative
            Commons Attribution-ShareAlike 4.0 International License</a>.
          </p>

        </div>
      </div>
    </div>
  </div>
</footer>

</body>
</html>
